@use "../settings" as *;
@use "../abstracts" as *;

.aboutText {
  color: black;
}

.editIcon {
  cursor: pointer;
  width: calc(#{$spacing-16} + #{$spacing-14});
  height: calc(#{$spacing-16} + #{$spacing-14});
}

.editIcon:hover,
.editIcon:focus {
  color: $primary-color;
  scale: 1.1;
  transition: scale 0.2s ease-in-out;
  outline: none;
  box-shadow: 0;
}
