@use "../settings" as *;
@use "../abstracts" as *;

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;

  @media screen and (min-width: 998px) {
    flex-direction: row;
    justify-content: center;
  }
}

.footerNavbar {
  background-color: #00093c;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footerContactNavbar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 33.33%;
  }

  @media screen and (min-width: 998px) {
    width: 10%;
  }
}

.footerLink {
  border-bottom: 2px solid transparent;
  color: rgb(255, 255, 255);
  padding: 8px;

  @media screen and (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.footerLink:hover {
  border-bottom: 2px solid #f7941d;
}

.footerContactLink {
  color: #fff;
  text-align: center;
  padding: 0;
  border: transparent;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: filter 0.3s ease;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.footerContactLink:hover {
  border: transparent;
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(1500%)
    hue-rotate(1deg) brightness(100%) contrast(97%);
}

.linkedinIcon {
  background-image: url("../../assets/linkedin.svg");
}

.githubIcon {
  background-image: url("../../assets/github.svg");
}

.phoneIcon {
  background-image: url("../../assets/telephone.svg");
}

.emailIcon {
  background-image: url("../../assets/email.svg");
}
