@use "../settings" as *;
@use "../abstracts" as *;

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fff;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.footerNavbar {
  background-color: #00093c;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footerContactNavbar {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  gap: 8px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    gap: 10px;
  }
}

.footerLink {
  border-bottom: 2px solid transparent;
  color: rgb(255, 255, 255);
  padding: 8px;

  @media screen and (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.footerLink:hover {
  border-bottom: 2px solid #f7941d;
}

.footerContactLink {
  color: #fff;
  text-align: center;
  padding: 0;
  border: transparent;
  width: 24px !important;
  height: 24px !important;
  background: linear-gradient(90deg, #f7941d, #27aae1);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  transition: all 0.3s ease;

  @media screen and (min-width: 1024px) {
    width: 30px !important;
    height: 30px !important;
  }
}

.footerContactLink:hover {
  border: transparent;
  background: linear-gradient(90deg, #27aae1, #f7941d);
}

.linkedinIcon {
  mask-image: url("../../assets/linkedin.svg");
  -webkit-mask-image: url("../../assets/linkedin.svg");
}

.githubIcon {
  mask-image: url("../../assets/github.svg");
  -webkit-mask-image: url("../../assets/github.svg");
}

.phoneIcon {
  mask-image: url("../../assets/telephone.svg");
  -webkit-mask-image: url("../../assets/telephone.svg");
}

.emailIcon {
  mask-image: url("../../assets/email.svg");
  -webkit-mask-image: url("../../assets/email.svg");
}
