.footerContainer {
    display: flex;
    flex-direction: column;
    color: #fff;

    @media screen and (min-width: 998px) {
        flex-direction: row;
        justify-content: center;
    }
}

.footerNavbar {
    background-color: #00093C;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

    @media screen and (min-width: 768px) {      
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.footerContactNavbar {
    display: flex;
    flex-direction: row !important;
    justify-items: center;
    width: 300px;

    @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 10px;
    }
}

.footerLink {
    border-bottom: 2px solid transparent;
    color: rgb(255, 255, 255);
    padding: 8px;
    
    @media screen and (max-width: 768px) {
        margin-bottom: 5px;
    }
}


.footerLink:hover {
    border-bottom: 2px solid #F7941D;
}

.footerContactLink {
    color: #fff;
    text-align: center;
    padding: 0;
    border: transparent;
}

.footerContactLink:hover {
    border: transparent;
}

.footerIcon {
    width: 30px;
    height: 30px;

    @media screen and (min-width: 768px) {      
        width: 20px;
        height: 20px;
    }
}

.footerIcon:hover {
    color: #F7941D;
}