@use "../settings" as *;
@use "../abstracts" as *;

.navbar {
  background-color: $white;
}

.navbarUser {
  background-color: $secondary-color;
}

.offcanvasNavbar {
  background-color: $secondary-color;
  width: 100%;

  .navLink,
  .navLinkLight {
    &:hover,
    &:focus {
      color: $primary-color !important;
    }
  }

  .navLink.navLinkLight {
    color: $white !important;
  }

  .navLink {
    color: $black !important;
  }
}

.navbarToggle {
  border: none !important;
  border-color: transparent !important;

  :global(.navbar-toggler-icon) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2300093c' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  &:hover,
  &:focus {
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
    outline: none;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}

.navbarUser .navbarToggle {
  :global(.navbar-toggler-icon) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.offcanvasNav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 932px) {
    margin-bottom: 20px;
  }
}
