.isCorrect {
    background-color: #B8EFCF;
}

.isFalse {
    background-color: #F11212;
}

.questionTitle {
    margin-bottom: 20px;
}

.resultText {
    background-image: url("../../../assets/union.svg");
    background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
justify-content: center;
align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
}

.resultBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        padding-bottom: 20px;
    }
}