@use "../settings" as *;
@use "../abstracts" as *;

button {
  cursor: pointer;
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggleIcon {
      svg {
        color: $primary-color;
      }
    }
  }

  .toggleIcon {
    @extend %flex-row;

    svg {
      width: calc(#{$spacing-12} * 2);
      height: calc(#{$spacing-12} * 2);
      color: $gray-light;
      transition:
        transform 0.2s ease,
        color 0.2s ease;
    }

    &:hover svg {
      transform: scale(1.1);
      color: $primary-color;
    }
  }
}
