@use "../settings" as *;
@use "../abstracts" as *;

.itemText {
  color: black;

  &:not(:last-child) {
    padding-right: 32px;
  }
}

.itemSmalltext {
  display: block;
  font-size: 10px;
  color: gray;
  text-align: end;
  margin-left: auto;
}

.container {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: end;
}

.actionButtons {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &:hover,
  &:focus {
    color: #f7941d;
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
    outline: none;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.deleteBtn {
  background-color: transparent !important;
  color: gray;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: #f7941d;
  scale: 1.1;
  transition: scale 0.2s ease-in-out;
  outline: none;
  box-shadow: none;
}

.deleteBtnIcon {
  width: 20px;
  height: 20px;
}

.starZero {
  cursor: pointer;
  color: gray;
  font-size: 15px;
}

.starRating {
  cursor: pointer;
  color: gold;
  font-size: 15px;
}

.error-text {
  visibility: hidden;
}
