.formContainer {
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.searchNavbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    width: 100%;
    max-width: 800px;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}


.categoryBtn {
width: 100%;
    background-color: #F7941D;
        border: none;
        border-radius: 6px;
        color: #FFF;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
}

.serchContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}

.searchInput {
    width: 100%;
}

.searchBtn {
    width: 100%;
}

.searchBtn:hover, .categoryBtn:hover {
    background-color: #00093C;
    color: #FFF;
}

.error {
    width: 50%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(220, 53, 69)
}