@use "../settings" as *;

%flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%background-center {
  background-position: center;
  background-repeat: no-repeat;
}

%button-base {
  border: none;
  border-radius: $border-radius-5;
  background-color: $primary-color;
  color: $text-light;
  padding: calc(#{$spacing-12} / 2) $spacing-12;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-16;
  cursor: pointer;
  transition: $transition-all;

  &:hover {
    background-color: $secondary-color;
    outline: none;
    color: $text-light !important;
  }

  &:focus {
    color: $text-light !important;
  }
}

%button-secondary {
  border: calc(#{$spacing-4} / 2) solid;
  border-radius: $border-radius-50;
  background: transparent;
  padding: calc(#{$spacing-12} / 2) $spacing-12;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-16;
  cursor: pointer;
  transition: $transition-all;

  &:hover {
    outline: none;
  }
}

%icon-button {
  cursor: pointer;
  width: calc(#{$spacing-12} * 2);
  height: calc(#{$spacing-12} * 2);
  transition: $transition-all;
  color: $gray-light;
  stroke: $gray-light;

  &:hover {
    transform: scale(1.1);
    color: $primary-color;
  }
}

%container {
  margin-top: calc(#{$spacing-16} * 2);
  margin-bottom: calc(#{$spacing-16} * 2);
}
