.form-container {
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.category-btn {
    width: 120px;
}

.search-navbar {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}