.container {
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 10px;
    }
}

.button {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 200px;
        margin-bottom: 0;
        
    }
}

.error {
    display: block;
        color: red;
}