@import '../settings/index';
@import '../abstracts/placeholders';

.loginSection {
    margin-top: $margin-2xl;
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
}

.loginCard {
    max-width: $container-sm;
    margin-left: auto;
    margin-right: auto;
    padding: $padding-md;
}

.errorText {
    visibility: hidden;
}

.formTitle {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin-lg;
    text-align: $text-center;
    color: $text-primary;
}

.formBtn {
    @extend %button-base;
    width: 100%;
}