@use "../settings" as *;
@use "../abstracts" as *;

.loginSection {
  margin-top: 4rem;
  @extend %container;
}

.loginCard {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.errorText {
  visibility: hidden;
}

.formTitle {
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  text-align: center;
  color: $text-primary;
}

.formBtn {
  @extend %button-base;
  width: 100%;
}
