@use "../settings" as *;
@use "../abstracts" as *;

.signupSection {
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 70px;
}

.signupCard {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.errorText {
  visibility: hidden;
}

.formTitle {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.formBtn {
  @extend %button-base;
  width: 100%;
}
