@use "../settings/" as *;
@use "../abstracts" as *;

.userSection {
  margin-top: 65px;
  padding: 20px 10px;
}

.userSectionCard {
  display: flex;
  display: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 10px 0;
  }
}

.userCardInfo:first-child {
  margin-right: 10px;
}

.card {
  width: 100%;
  border-color: #fff;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 998px) {
    width: 30%;
  }
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cardText {
  color: #000;
  font-size: 18px;
}

.cardText:not(:last-child) {
  margin-bottom: 10px;
}

.cardImg {
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 50%;
}

.imgChangeBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 46px;
  height: 46px;
  border: none;
}

.imgChgangeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.inputUpload {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: gray;
  background-image: url("../../assets/photo.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.userCardInfo {
  max-width: 100%;
}

.show {
  color: #f7941d;
}
