.card {
    width: 100%;
    border-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        width: 50%;
        margin-right: 10px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 998px) {
        width: 30%;
    }
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cardText {
    color: #000;
    font-size: 18px;

}

.cardText:not(:last-child) {
    margin-bottom: 10px;
}

.cardImg {
    width: 240px;
    height: 240px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
}

.imgChangeContainer {
    position: relative;
    padding: 0;
}

.imgChangeBtn {
    position: absolute;
    top: 0;
    left: 0;
padding: 0;
width: 46px;
height: 46px;
border: none;
}

.imgChgangeIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.inputUpload {
position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #F7941D;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
}