
.heroCard {
    margin-top: 60px;
    max-height: 60vh;
    margin-top: 60px;
    border: 0;

    @media screen and (min-width: 768px) {
        min-height: 400px;
    }
}

.heroImg {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    object-position: 70% 30%;
    object-fit: cover;
}

.overlay {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (min-width: 768px) {  

    }
}

.cardBody {
    padding: 0;
}

.heroBodyContainer {
    @media screen and (min-width: 768px) {
        max-width: 720px;
            margin-left: auto;
                margin-right: auto;
                padding-left: 12px;
                padding-right: 12px;
    }

    @media screen and (min-width: 998px) {
        max-width: 980px;
    }
}

.heroCardTitle {
    font-size: 26px;
    margin-bottom: 70px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        margin-bottom: 70px;
    }

        @media screen and (min-width: 998px) {
            font-size: 32px;
            margin-bottom: 60px;
        }
}

.heroJokeText {
    font-size: 30px;
    line-height: 1.2;
    font-family: "bebas neue";
    text-align: center;
    color: black;
    margin-bottom: 10px;


    @media screen and (min-width: 768px) {
            font-size: 40px;
        }

            @media screen and (min-width: 998px) {
                font-size: 52px;
                }
}

.heroJokeAuthor {
    font-size: 14px;
    text-align: center;
    color: darkslategrey;

    @media screen and (min-width: 768px) {
            font-size: 18px;
        }

                 @media screen and (min-width: 998px) {
                     font-size: 24px;
                 }
}

