.cardBody {
    padding-bottom: 0;
}

.cardText {
    color: black;
}

.cardBtn {
    width: 100%;
    background-color: #F7941D;
    border: none;
    border-radius: 6px;
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cardBtn:hover {
    background-color: #00093C;
}

.cardImg {
    height: 50%;
    width: 100%;
    object-fit: cover;
}