:root {
    --primary-color: #F7941D;
    --secondary-color: #00093C;
    --text-color: #fff;
    --transition-duration: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    --primary-font: "Montserrat", sans-serif;
}

body {
font-family: var(--primary-font);
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    color: var(--text-color);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
}